:host {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;    /* Centraliza verticalmente */
  height: 100vh;          /* Define a altura para ocupar a tela inteira */
}

.task-panel {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


.task-panel {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
}

.mat-header-cell, .mat-cell {
  text-align: left;
}

.mat-header-row {
  background-color: #1976d2; /* Cor de fundo */
  color: #1976d2;   /* Cor do texto */
}

.mat-header-cell {
  font-weight: bold;  
}

.p-column-small {
  width: 100px;
  background-color: #1976d2;
}
